:host >>> .ng-sidebar {
    background-color:#a9789f;
    min-width: 10%;
    width : 12%;
    max-height: 100vh;
  }

mat-nav-list.material-list{
    position: relative;
    background-color:#994e8a;  
}

mat-list-item.material-list-items{
    color : white; 
    font-family: 'Roboto', sans-serif;
    font-size : 14px;
    padding: 0%;


}