.ng-sidebar-container{
    height : 100vh;
}

:host >>> .ng-sidebar {
    width: 12%;  
  }

/* :host >>> .ng-sidebar-content{
    width: 10vh;
} */

mat-nav-list.material-list{
    background-color:#673AB7;
   
}

mat-list-item.material-list-items{
    color : white; 
    font-family: 'Roboto', sans-serif;
    font-size : 14px;
    padding: 0%;
    
}

:host >>> .ng-sidebar{
    background-color:#673AB7;
    min-width: 12%;
}
