:host >>> .ng-sidebar {
    background-color:#a9789f;
    min-width: 10%;
    width : 12%;
    max-height: 100vh;
  }


mat-nav-list.material-list{
    position: relative;
    background-color:#994e8a;  
}

mat-list-item.material-list-items{
    color : white; 
    font-family: 'Roboto', sans-serif;
    font-size : 14px;
    padding: 0%;
}

.dashboard-container{
    background-color:#994e8a;  
    width : 100%;
    height : 100%; 
}

mat-expansion-panel{
    background-color:#994e8a;    
}

mat-panel-title{
    color : white;
}

.stateexpansionpanel{
    color: white;
}
