    <!-- <dxo-background id="vector-map" 
    borderColor = "black"></dxo-background> -->
<div class="map">
<dx-vector-map 
    class="vector-map" 
    [bounds]="[-200, 85, 200, -80]"
    [wheelEnabled]="false"
    [redrawOnResize]="true"
    [zoomFactor]="1"
    [maxZoomFactor]="5"
    (onClick)="click($event)">
    
    <dxo-tooltip 
        [enabled]="true" 
        [customizeTooltip]="customizeTooltip"></dxo-tooltip>
        
    <dxi-layer 
        name="areas" 
        palette="Violet" 
        colorGroupingField="population"
        [colorGroups]="[0, 0.5, 0.8, 1, 2, 3, 100]"
        [dataSource]="worldMap"
        [customize]="customizeLayers"></dxi-layer>
    
   
    <dxo-control-bar
    horizontalAlignment="right"
    verticalAlignment="bottom"
    [borderColor]="red"
    color="purple"
    [margin]="20"
    [enabled]="true"></dxo-control-bar>
  
    <!-- <dxi-legend [customizeText]="customizeText">
        <dxo-source layer="areas" grouping="color"></dxo-source>
    </dxi-legend> -->
</dx-vector-map>
</div>