
<!-- <div *ngIf = "resAQIUS" class="gaugeDash"> -->

  <div class="gauge-container"
  fxLayout="row"
  fxLayout.xs="row"
  fxLayoutGap.xs="0">

  <div fxFlex="33%" fxLayoutAlign="center">
  <ngx-gauge 
  [type]="gaugeType" 
  [value]="resAQIUS"
  [label]="gaugeLabel" 
  [append]="gaugeAppendText"
  cap = "round"
  [thick]=10
  [size]=150
  [thresholds]="thresholdConfig"
  >
</ngx-gauge>
</div>

<div fxFlex="33%" fxLayoutAlign="center">

    <div class="weather-container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="weather">
                    <div class="current">
                        <div class="info">

                            <div class="city"><small><small></small></small> Chennai</div>
                            <div class="temp">32&deg; <small>C</small></div>
                            <div class="wind"><small><small>WIND :</small></small> 22 km/h</div>

                        </div>
                        <div class="icon">
                            <span class="wi-day-sunny"></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    
    <!-- <div class="weather-card">
      
      <h3 class="city">Chennai</h3>
      <span class="icon"></span>
      <span class="temp">76&#176;</span>
      <div>
        <ul class="variations">
          <li>CLEAR</li>
          <li><span class="speed">9<span class="mph">mph</span></span></li>
        </ul>
      </div>
    </div> -->
  </div>

<div fxFlex="33%" fxLayoutAlign="center">
  <ngx-gauge 
  [type]="gaugeType" 
  [value]="resAQIUS"
  [label]="gaugeLabel" 
  [append]="gaugeAppendText"
  cap = "round"
  [thick]=10
  [size]=150
  [thresholds]="thresholdConfig"
  >
</ngx-gauge>
</div>

</div>

  <!-- <ngx-gauge 
           [type]="gaugeType" 
           [value]="resAQIUS"
           [label]="gaugeLabel" 
           [append]="gaugeAppendText"
           cap = "round"
           [thick]=10
           [size]=150
           [thresholds]="thresholdConfig"
           >
  </ngx-gauge> -->



